.img-size{
    width: 250px;
    display: block;
    margin: auto;
    padding: 20px;
}

.item-center{
    display: block;
    margin: auto;
    margin-top: 50px;
}
.text-colr{
    color: rgba(218, 53, 53, 0.924);
}